version: "3.9"
services:

  backend:
    build: ./backend
    container_name: checklist-backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
    restart: always

  frontend:
    build: ./frontend
    container_name: checklist-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
